body,
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.calculator {
  margin: 2rem 0;
  padding: 1rem;
  font-size: 2rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}